
  
body
  +bg(#1c1c1c)
  font-family: 'Roboto', sans-serif
  font-size: 14px
  font-weight: bold
  line-height: normal
  letter-spacing: normal
  color: $white



h1,h2,h3,h4, h5, h6
  display: inline-block
  margin: 0 auto




h2
  font-family: "Georgia-Bold"
  // position: relative
  // &:after
  //   content: ""
  //   position: absolute
  //   top: 50% 
  //   left: -10px
  //   z-index: 2
  //   width: 20px
  //   height: 10px
  //   // background: $active
  //   transform: translateY(-50%)




.btn 
  border: 1px solid transparent
  outline: none!important
  transition: all 0.2s ease-in-out
  diplay: inline-block
  +center


.btn--success
  color: white
  +bg($active)
  &:hover
    +bg(lighten($active,30%))
    +border(1px , darken($active,10%)!important)
    box-shadow: 0px 0px 20px lighten($active,60%)!important
    color: lighten($active,10%)
  &:focus
    +border(1px , darken($active,10%)!important)
    +bg(lighten($active,10%))
    box-shadow: 0px 0px 20px lighten($active,60%)!important
    color: white
  
.btn--empty 
  +bg(white)
  +border(1px,$active)
  &:hover
    +bg(lighten($active,30%))
    +border(1px , darken($active,10%)!important)
    box-shadow: 0px 0px 20px lighten($active,60%)!important
    color: lighten($active,10%)
  &:focus
    +border(1px , darken($active,10%)!important)
    +bg(lighten($active,10%))
    box-shadow: 0px 0px 20px lighten($active,60%)!important
    color: white


%br
  border-radius: 5px

// @extend %br