section#catalog-crazy-2.catalog-crazy-1.catalog-crazy-2.catalog-crazy-3
    a(href="#!").button-phone
    a(href="#!").button-cart
      span.button-cart-number  1
    .catalog-crazy-1__title-main.crazy-main-title
        h2  
          span._red Crazy 
          span  меню
    .container.catalog-crazy-2__body
      .catalog-crazy-1__description  Cобери сам
      .catalog-crazy-1__body
        .catalog-crazy-1__title.crazy-title
          h3  3. собери ДОБАВКИ
          a(href="#!").catalog-crazy-1__link  
          a(href="#!").catalog-crazy-1__link.catalog-crazy-1__link--before  
        ul.catalog-crazy-1__content.crazy-1-content._foget-scroll
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Салат из капусты
            img.crazy-item__img(src="assets/img/png/crazy-2/i-1.png",alt="img")
            p.crazy-item__price  80 руб.
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Шампиньоны
            img.crazy-item__img(src="assets/img/png/crazy-2/i-2.png",alt="img")
            p.crazy-item__price  100 руб. 
        
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Морковь по-корейски
            img.crazy-item__img(src="assets/img/png/crazy-2/i-3.png",alt="img")
            p.crazy-item__price  45 руб.
        
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Перец болгарский
            img.crazy-item__img(src="assets/img/png/crazy-2/i-4.png",alt="img")
            p.crazy-item__price  45 руб.
        
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Говяжья колбаска
            img.crazy-item__img(src="assets/img/png/crazy-2/i-5.png",alt="img")
            p.crazy-item__price  45 руб.
        
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Бекон
            img.crazy-item__img(src="assets/img/png/crazy-2/i-6.png",alt="img")
            p.crazy-item__price  45 руб.
        
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Куриная котлета
            img.crazy-item__img(src="assets/img/png/crazy-2/i-7.png",alt="img")
            p.crazy-item__price  45 руб.
        
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Говяжья котлета
            img.crazy-item__img(src="assets/img/png/crazy-2/i-8.png",alt="img")
            p.crazy-item__price  45 руб.
        
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Котлета Крабс
            img.crazy-item__img(src="assets/img/png/crazy-2/i-9.png",alt="img")
            p.crazy-item__price  45 руб.
        
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Ветчина
            img.crazy-item__img(src="assets/img/png/crazy-2/i-10.png",alt="img")
            p.crazy-item__price  45 руб.
        
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Морской коктейль
            img.crazy-item__img(src="assets/img/png/crazy-2/i-11.png",alt="img")
            p.crazy-item__price  45 руб.
        
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Крабовые палочки
            img.crazy-item__img(src="assets/img/png/crazy-2/i-12.png",alt="img")
            p.crazy-item__price  45 руб.
      .catalog-crazy-1__body
        .catalog-crazy-1__title.crazy-title
          h3  Ваш БУРГЕР 
          span.catalog-crazy-1__total Итого :
          a(href="#!").catalog-crazy-1__number 45 руб.
          a(href="#!").catalog-crazy-1__button  Заказать
        ul.catalog-crazy-1__content.catalog-crazy-1__content--burger.crazy-1-content._foget-scroll
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Бургерная булка
            img.crazy-item__img(src="assets/img/png/crazy-2/i-13.png",alt="img")
            p.crazy-item__price  80 руб.
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Свинина гриль
            img.crazy-item__img(src="assets/img/png/crazy-2/i-13.png",alt="img")
            p.crazy-item__price  80 руб.
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Лист салата
            img.crazy-item__img(src="assets/img/png/crazy-2/i-13.png",alt="img")
            p.crazy-item__price  80 руб.