section#catalog-crazy-1.catalog-crazy-1
    a(href="#!").button-phone
    a(href="#!").button-cart
      span.button-cart-number  1
    .catalog-crazy-1__title-main.crazy-main-title
        h2  
          span._red Crazy 
          span  меню
    .container
      .catalog-crazy-1__description  Cобери сам
      .catalog-crazy-1__body
        .catalog-crazy-1__title.crazy-title
          h3 1. Выбери ХЛЕБ
          a(href="#!").catalog-crazy-1__link  
        ul.catalog-crazy-1__content.crazy-1-content._foget-scroll
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Лаваш
            img.crazy-item__img(src="assets/img/png/crazy/i-1.png",alt="img")
            p.crazy-item__price  25 руб.
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Бургерная булка
            img.crazy-item__img(src="assets/img/png/crazy/i-2.png",alt="img")
            p.crazy-item__price  45 руб.
        
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Тостовый хлеб
            img.crazy-item__img(src="assets/img/png/crazy/i-3.png",alt="img")
            p.crazy-item__price  45 руб.
        
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Булка хот-дог
            img.crazy-item__img(src="assets/img/png/crazy/i-4.png",alt="img")
            p.crazy-item__price  45 руб.
        
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Фунчеза 200г
            img.crazy-item__img(src="assets/img/png/crazy/i-5.png",alt="img")
            p.crazy-item__price  45 руб.
        
          li.crazy-1-content__item.crazy-item
            .crazy-item__title  Основа для пиццы
            img.crazy-item__img(src="assets/img/png/crazy/i-6.png",alt="img")
            p.crazy-item__price  45 руб.
        
       
        
        
        
        
        
        
        
        
        
