section#classic.piza.classic
  .piza__wrapper
    .classic__decor-1
    .classic__decor-2
    .classic__decor-3
    .classic__decor-4
    .classic__decor-5
    .container
      .piza__title._title
        h2  Классическое меню   

      ul.piza__body
        li.piza__item.product-card.popups-init-js
          .product-card__new-lable.new-lable 
            span ХИТ
          .product-card__img(style="background-image: url('assets/img/png/classic/i-1.png')")
          .product-card__title Шаверма с курицей
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card.popups-init-js
          .product-card__new-lable.new-lable 
            span NEW
          .product-card__img(style="background-image: url('assets/img/png/classic/i-2.png')")
          .product-card__title Шаурма свиная
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card.popups-init-js

          .product-card__img(style="background-image: url('assets/img/png/classic/i-3.png')")
          .product-card__title Хот-дог с говядиной
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card.popups-init-js

          .product-card__img(style="background-image: url('assets/img/png/classic/i-4.png')")
          .product-card__title Хот-дог с курицей
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card

          .product-card__img(style="background-image: url('assets/img/png/classic/i-5.png')")
          .product-card__title Цезарь с креветкой
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card

          .product-card__img(style="background-image: url('assets/img/png/classic/i-6.png')")
          .product-card__title Греческий салат
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card

          .product-card__img(style="background-image: url('assets/img/png/classic/i-1.png')")
          .product-card__title Пепперони фреш
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card
          .product-card__new-lable.new-lable 
            span ХИТ
          .product-card__img(style="background-image: url('assets/img/png/classic/i-2.png')")
          .product-card__title Пепперони фреш
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card

          .product-card__img(style="background-image: url('assets/img/png/classic/i-3.png')")
          .product-card__title Пепперони фреш
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card

          .product-card__img(style="background-image: url('assets/img/png/classic/i-4.png')")
          .product-card__title Пепперони фреш
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card

          .product-card__img(style="background-image: url('assets/img/png/classic/i-5.png')")
          .product-card__title Пепперони фреш
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 

