section.first
  header.header
    .header__body.container
      .header__high
        a(href="#!").header__logo
          img(src="assets/img/svg/logo.svg",alt="img")
        .header__properties
          .header__property.header__property--address
            img(src="assets/img/svg/s-2.svg",alt="img")
            span  Краснодар, Северная 277
          .header__property.header__property--work
            img(src="assets/img/svg/s-1.svg",alt="img") 
            span  Пн-Вс: 10:00 - 22:00
        .header__info.info
          .info__phone-data
            img(src="assets/img/svg/s-3.svg",alt="img") 
            a(href="#!").info__number +7 (999) 999-99-99
          .info__phone Заказать звонок
        .header__burger
          span
    nav.header__menu.menu
        //- i.icon-x.header__close
        ul.menu__list
          li.menu__item
            a.menu__link(href="#!") Crazy меню
          - 
            items = [
              { title: "Пицца ", url: "#piza"},
              { title: "Классическое меню", url: "#classic-menu"},
              { title: "Роллы", url: "#lolls"},
              { title: "Напитки ", url: "#drinks"},
              { title: "Акции ", url: "#actions"},
              { title: "Блог ", url: "#!"},
              { title: "О ресторане ", url: "#!"},
              { title: "Доставка", url: "#!"},
              { title: "Контакты", url: "#!"},
              ]
          each item in items
            li.menu__item
              a.menu__link(href=item.url)=item.title
    

  //- section.bunner
  //-   .bunner__body.container
  //-     .bunner__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam magni in quidem necessitatibus, placeat, expedita itaque laborum magnam maxime aperiam suscipit amet commodi molestiae a quaerat hic id! Dolores facere consequuntur, ipsam eveniet dicta, laboriosam sed quod possimus nesciunt dolore vero animi explicabo? Accusamus delectus officia voluptatum dolorem, laboriosam aliquam quasi, numquam, laborum odit temporibus hic provident itaque iste perferendis nulla. Ea mollitia ratione corrupti molestiae temporibus assumenda sequi consequatur ad, id magni in necessitatibus ipsum harum odit. Temporibus ipsam velit aut assumenda omnis sed quam ad! Omnis tempora deleniti ex, odio fugit eos reiciendis soluta ad consequatur impedit distinctio.

  //-     i.bunner__img
  //-     i.bunner__img