footer#footer.footer
    //- .up_down_btn(title='Наверх') 
    .container
      .footer__body
        .footer__item.footer-item--first 
          a(href="#!").footer__logo
            img(src="assets/img/svg/logo.svg" alt="logo")
          .footer__copyright  © 2021 “crazy cook”
        .footer__item.footer-item--second
          .footer-item__title Crazy cook
          .footer-item__description
            a(href="#!").footer-item__line О ресторане
            a(href="#!").footer-item__line Контакты
        .footer__item.footer-item--third
          .footer-item__title Меню
          .footer-item__description
            a(href="#!").footer-item__line Пицца
            a(href="#!").footer-item__line Классическое меню
            a(href="#!").footer-item__line Crazy меню
            a(href="#!").footer-item__line Роллы
            a(href="#!").footer-item__line Блог 
        .footer-properties__data.footer-item--forth
          .footer-item__title.footer-item__title--data Звоните <span>для заказа</span>
          .footer__info.info
            .info__phone-data.info__phone-data--footer
              img(src="assets/img/svg/s-3.svg",alt="img") 
              a(href="#!").info__number.info__number--footer +7 (999) 999-99-99
        .footer-properties__soc.footer-item--fith
          .footer__property
            img(src="assets/img/svg/s-2.svg",alt="img")
            span  Краснодар, Северная 277
          .footer__property
            img(src="assets/img/svg/s-1.svg",alt="img") 
            span  Пн-Вс: 10:00 - 22:00
          .footer__soc.footer-soc
            a(href="#!").footer-soc__item
              img(src="assets/img/svg/s-4.svg",alt="img")
            a(href="#!").footer-soc__item
              img(src="assets/img/svg/s-6.svg",alt="img")
            a(href="#!").footer-soc__item
              img(src="assets/img/svg/s-5.svg",alt="img")

