section#piza.piza
  .piza__wrapper
    .piza__decor-1
    .piza__decor-2
    .piza__decor-3
    .piza__phone
    .piza__cart
      .piza__cart-number  1
    .container
      .piza__title._title
        h2 Пицца

      ul.piza__body
        li.piza__item.product-card
          .product-card__new-lable.new-lable 
            span ХИТ
          img(src="assets/img/png/piza/i-1.png",alt="img").product-card__img
          .product-card__title Пепперони фреш
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card
          .product-card__new-lable.new-lable 
            span NEW
          img(src="assets/img/png/piza/i-1.png",alt="img").product-card__img
          .product-card__title Пепперони фреш
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card

          img(src="assets/img/png/piza/i-1.png",alt="img").product-card__img
          .product-card__title Пепперони фреш
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card

          img(src="assets/img/png/piza/i-1.png",alt="img").product-card__img
          .product-card__title Пепперони фреш
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card

          img(src="assets/img/png/piza/i-1.png",alt="img").product-card__img
          .product-card__title Пепперони фреш
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card

          img(src="assets/img/png/piza/i-1.png",alt="img").product-card__img
          .product-card__title Пепперони фреш
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card

          img(src="assets/img/png/piza/i-1.png",alt="img").product-card__img
          .product-card__title Пепперони фреш
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card
          .product-card__new-lable.new-lable 
            span ХИТ
          img(src="assets/img/png/piza/i-1.png",alt="img").product-card__img
          .product-card__title Пепперони фреш
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card

          img(src="assets/img/png/piza/i-1.png",alt="img").product-card__img
          .product-card__title Пепперони фреш
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card

          img(src="assets/img/png/piza/i-1.png",alt="img").product-card__img
          .product-card__title Пепперони фреш
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 
        li.piza__item.product-card

          img(src="assets/img/png/piza/i-1.png",alt="img").product-card__img
          .product-card__title Пепперони фреш
          .product-card__text  Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
          .product-card__price 320 руб.
          .product-card__number  1
          a(href="#!").product-card__button.btn.btn--success выбрать 

