#slide-bord.popups.slide-add-layer.slide-bord
      .popups__overlay
        a(href="#!").button-phone
        a(href="#!").button-cart
          span.button-cart-number  1
        .popups__inner
          i.icon-x.popup__close.close-js

          .slide-add-layer__wrapper.add-wrap
            
            ul.add-wrap__catalog.add-wrap-catalog.product-catalog.scroll-block-popup-add
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/bord/i-1.png')")
                  .product-item__title  
                    h5 моцарела
                  .product-item__price 120 руб.
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/bord/i-2.png')")
                  .product-item__title  
                    h5 пармезан
                  .product-item__price 120 руб.
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/bord/i-3.png')")
                  .product-item__title  
                    h5 ЭДАМ
                  .product-item__price 120 руб.
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/bord/i-4.png')")
                  .product-item__title  
                    h5 ГОРГОНЗОЛА
                  .product-item__price 120 руб.
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/bord/i-5.png')")
                  .product-item__title  
                    h5 Сулугуни
                  .product-item__price 120 руб.
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/bord/i-6.png')")
                  .product-item__title  
                    h5 Фета
                  .product-item__price 120 руб.
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/bord/i-7.png')")
                  .product-item__title  
                    h5 МЮНСТЕР 
                  .product-item__price 120 руб.
             
               

            .add-wrap__title  
              h3
                span Выбрать 
                span._red-span  бортик
            .add-wrap__cards
              .add-wrap__card.add-product-card.add-product-card--empty
                a(href="#!").add-product-card__link
                .add-product-card__img--empty(style="background-image: url('assets/img/svg/cheese.svg')")
                .add-product-card__text--empty
                  p  выберите 
                  p  сыр 
            

            .add-wrap__sum
              span Итого:
              .add-wrap__number 520
                span руб
            a(href="#!").add-wrap__button.btn.btn--success выбрать 


























