#slide-add-layer.popups.slide-add-layer
      .popups__overlay
        a(href="#!").button-phone
        a(href="#!").button-cart
          span.button-cart-number  1
        .popups__inner
          i.icon-x.popup__close.close-js

          .slide-add-layer__wrapper.add-wrap
            ul.add-wrap__catalog.add-wrap-catalog.product-catalog.scroll-block-popup-add
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/card/i-1.png')")
                  .product-item__title  
                    h5 Кисло-сладкий цыпленок
                  .product-item__price 300 руб.
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/card/i-1.png')")
                  .product-item__title  
                    h5 Ветчина
                  .product-item__price 300 руб.
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/card/i-1.png')")
                  .product-item__title  
                    h5 Кисло-сладкий цыпленок
                  .product-item__price 300 руб.
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/card/i-1.png')")
                  .product-item__title  
                    h5 Кисло-сладкий цыпленок
                  .product-item__price 300 руб.
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/card/i-1.png')")
                  .product-item__title  
                    h5 Кисло-сладкий цыпленок
                  .product-item__price 300 руб.
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/card/i-1.png')")
                  .product-item__title  
                    h5 Кисло-сладкий цыпленок
                  .product-item__price 300 руб.
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/card/i-1.png')")
                  .product-item__title  
                    h5 Кисло-сладкий цыпленок
                  .product-item__price 300 руб.
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/card/i-1.png')")
                  .product-item__title  
                    h5 Кисло-сладкий цыпленок
                  .product-item__price 300 руб.
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/card/i-1.png')")
                  .product-item__title  
                    h5 Кисло-сладкий цыпленок
                  .product-item__price 300 руб.
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/card/i-1.png')")
                  .product-item__title  
                    h5 Кисло-сладкий цыпленок
                  .product-item__price 300 руб.
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/card/i-1.png')")
                  .product-item__title  
                    h5 Кисло-сладкий цыпленок
                  .product-item__price 300 руб.
                li.product-catalog__item.product-item
                  .product-item__img(style="background-image: url('assets/img/png/card/i-1.png')")
                  .product-item__title  
                    h5 Кисло-сладкий цыпленок
                  .product-item__price 300 руб.

            .add-wrap__title
              h3
                span._red-span  Добавить 
                span слой
            .add-wrap__cards
              .add-wrap__card.add-product-card
                
                i.icon-x
                .add-product-card__img(style="background-image: url('assets/img/png/card/i-1.png')")
                .add-product-card__title
                  h4  Цезарь
                .add-product-card__tab
                  
                  section#tabs.tabs
                    .tabs-item
                        .tabs-item__title.tabs-title-js 
                          i.icon-chevron-down.tabs-item__img.tabs-img-js
                          span  Состав пиццы
                        .tabs__drop.tabs-drop.tabs-drop-js
                            .tabs-drop__info Свежие листья салата айсберг, цыпленок, томаты черри, сыры чеддер и пармезан, моцарелла, соус альфредо, соус цезарьСвежие листья салата айсберг, цыпленок, томаты черри, сыры чеддер и пармезан, моцарелла, соус альфредо, соус цезарь
                .add-product-card__price  300 руб.
              .add-wrap__card.add-product-card.add-product-card--empty
                a(href="#!").add-product-card__link
                .add-product-card__img--empty(style="background-image: url('assets/img/svg/piza.svg')")
                .add-product-card__text--empty
                  p  выберите 2
                  p  ярус пиццы
              .add-wrap__card.add-product-card.add-product-card--empty
                a(href="#!").add-product-card__link
                .add-product-card__img--empty(style="background-image: url('assets/img/svg/piza.svg')")
                .add-product-card__text--empty
                  p  выберите 2
                  p  ярус пиццы
              .add-wrap__card.add-product-card.add-product-card--empty
                a(href="#!").add-product-card__link
                .add-product-card__img--empty(style="background-image: url('assets/img/svg/piza.svg')")
                .add-product-card__text--empty
                  p  выберите 2
                  p  ярус пиццы

            .add-wrap__sum
              span Итого:
              .add-wrap__number 520
                span руб
            a(href="#!").add-wrap__button.btn.btn--success выбрать 


























