section#new.new
  .container
    .new__title._title
      h2 Хиты и новинки
  .new__slider
    section#slider-model.slider-models
      .container
          .slider-models__body
            .slider__slider.slider-models__content.slider
              ul.slider-models__slider.slider__body.slider-js-2.scroll-block
                li.slider-models__item.slider-card
                  a.slider-card__link(href="#!")
                    .new__lable.new-lable 
                      span ХИТ
                    .boxses-item
                      .boxses-item__img
                        img(src="./assets/img/png/products/i-1.png",alt="img")
                      .boxses-item__title Гавайская
                      .boxses-item__text 300 руб.
                li.slider-models__item.slider-card
                  a.slider-card__link(href="#!")
                    .new__lable.new-lable 
                      span ХИТ
                    .boxses-item
                      .boxses-item__img
                        img(src="./assets/img/png/products/i-2.png",alt="img")
                      .boxses-item__title Гавайская
                      .boxses-item__text 300 руб.
                li.slider-models__item.slider-card
                  a.slider-card__link(href="#!")
                    .new__lable.new-lable 
                      span NEW
                    .boxses-item
                      .boxses-item__img
                        img(src="./assets/img/png/products/i-3.png",alt="img")
                      .boxses-item__title Гавайская
                      .boxses-item__text 300 руб.
                li.slider-models__item.slider-card
                  a.slider-card__link(href="#!")
                    .new__lable.new-lable 
                      span NEW
                    .boxses-item
                      .boxses-item__img
                        img(src="./assets/img/png/products/i-4.png",alt="img")
                      .boxses-item__title Гавайская
                      .boxses-item__text 300 руб.
                li.slider-models__item.slider-card
                  a.slider-card__link(href="#!")
                    .new__lable.new-lable 
                      span ХИТ
                    .boxses-item
                      .boxses-item__img
                        img(src="./assets/img/png/products/i-1.png",alt="img")
                      .boxses-item__title Гавайская
                      .boxses-item__text 300 руб.

