extends ../layout/main
block header
  include ../modules/first-crazy
block content
  include ../modules/catalog-crazy-1
  

block footer
  //- include ../modules/modal
  //- include ../modules/footer 