extends ../layout/main
block header
  include ../modules/first
block content
  include ../modules/slider-new
  include ../modules/piza
  include ../modules/map

block footer
  //- include ../modules/modal
  include ../modules/footer 
  