extends ../layout/main
block header
  include ../modules/first
block content
  
  //- include ../modules/vidget
  //- include ../modules/sections
  //- include ../modules/text-block
  //- include ../modules/slider-cards

block footer
  //- include ../modules/modal
  //- include ../modules/loader
  include ../modules/footer 
  