//------.first--------
.first
  min-height: 100vh
.header
  z-index: 1000
  transition: all 0.2s ease-in-out
  position: fixed
  width: 100%
  height: 80px
  +bg(rgba(245,245,245,1))
  @media (max-width: 1199px)
    height: 60px
  @media (max-width: 768px)
    height: 40px
.info_phone
  @media (max-width: 767px)
    color: white
    text-shadow: 0 0 4px white
//-------------
.responciveHeader
  position: fixed
  width: 100%
  height: 60px
  +bg(rgba(245,245,245, .9))


// =======================================================

.header__body
  margin: 0 auto
  position: relative
  height: 100%
  display: grid
  grid-template-columns: 250px 1fr minmax(340px, auto)
  grid-template-rows:  100%
  grid-template-areas: "logo menu info"
  @media (max-width: 1340px)
    margin: 0 20px
  @media (max-width: 1199px)
    grid-template-columns: 100px 1fr minmax(340px, auto)
  @media (max-width: 992px)
    grid-template-columns: 100px 1fr minmax(200px, auto)
  @media (max-width: 768px)
    margin: 0 10px
//-------------
.header__burger
  display: none
  &:hover
    cursor: pointer
  @media (max-width: 767px)
    font-size: 20px
    display: inline-block
    color: #181818
    +absolute(20px,20px,50%,auto,0,0%,-50%)
//-------------
.header__logo
  grid-area: logo
  img
    height: 100%
.header__menu
  margin: 0 30px 0 0
  position: relative
  grid-area: menu
  @media (max-width: 767px)
    width: 100vw
    min-height: 100vh
    position: fixed
    top: 0
    transform: translateX(-100vw)
    left: 0
    padding: 117px 20px 0 40px
    overflow: auto
    text-align: right
    +fdc
    +jucs
    +alie
    +bg(rgba(0,0,0,.95))
    z-index: 1000
    transition: all 0.2s ease-in-out

.header__close
  display: none
  @media (max-width: 767px)
    display: block
    +absolute(auto,auto,10px,auto,10px,0%,0%)
    color: white
    font-size: 20px
    &:hover
      cursor: pointer


.menu-active
  @media (max-width: 767px)
    transform: translateX(0)

.menu__list
  +alic
  +jucb
  height: 100%
  @media (max-width: 767px)
    +fdc
    +alie
    
.menu__item
  +alic
  height: 100%
  +border(1px , transparent)
  transition: all 0.2s ease-in-out
  &:hover
    +bg(lighten($active,30%))
    +border(1px , darken($active,10%)!important)
    box-shadow: 0px 0px 20px lighten($dark-1,60%)!important
    color: lighten($active,10%)
  &:focus
    +border(1px , darken($active,10%)!important)
    +bg(lighten($active,10%))
    box-shadow: 0px 0px 20px lighten($dark-1,60%)!important
    color: white
    &>span
      color: white
  @media (max-width: 767px)
    margin: 0 0 20px 0
    &:last-child
      margin: 0 0 30px 0
    
.menu__link
  +alic
  height: 100%
  padding: 0 5px
  font-size: 12px
  font-weight: 700
  text-transform: uppercase
  color: #757575

  @media (max-width: 1199px)
    font-size: 16px


.menu__link--active
  +bg($active)
  color: white






.header__info
  grid-area: info
.info
  +alic
  +jucb
  @media (max-width: 1199px)
    padding: 0 0 0 0	
    +fdc
    +jucc
    flex-wrap: nowrap
  @media (max-width: 767px)
    display: none!important

.info-active
  @media (max-width: 767px)
    display: block!important
    transition: all 0.2s ease-in-out
//-------------

.info_search
  +alic
  height:25px
  position: relative
  input
    &::placeholder
      color: #757575
      font-family: 'Oswald', sans-serif
      font-weight: 500
      font-size: 15px
      line-height: 1
    
  i
    color: #181818
    font-size: 20px
    +absolute(auto,auto,50%,auto,10px,0%,-50%)


  @media (max-width: 1199px)
    margin: 10px 0 0 0
  @media (max-width: 767px)
    margin: 10px 0 0 0
.bunner
  min-height: 100vh
  +background-img("/assets/img/i-1.png")
 
.bunner__body
  +fdc
  padding: 100px 300px 0 0
  @media (max-width: 992px)
    padding: 100px 0px 0 0
  @media (max-width: 767px)
//-------------
.bunner__img
  height: 115px
  margin: 10px 0 10px 0
  &:first-of-type
    +background-img("/assets/img/i-1.png")
  &:last-of-type
    +background-img("/assets/img/i-1.png")

.bunner__text
  margin: 0 0 30px 0
  color: white
  font-size: 16px
  line-height: 120%
  p
    margin: 0 0 10px 0
    text-shadow: 0px 0px 4px darken($active, 80%)
.slider-main-js
  max-height: 100%