
$fone: #828282
$dark-1: #212121 
  
  
  
  
  
  
  
  
//------.first--------
// .first
  // min-height: 100vh
.header
  z-index: 1000
  transition: all 0.3s ease-in-out
  position: fixed
  width: 100%
  height: 100px
  top: 0
  left: 0
  +bg(#1c1c1c)
  @media (min-width: 767px) and (max-width: 1199px)
    // height: 60px
  @media (max-width: 768px)
    // height: 40px
// .info_phone
//   @media (max-width: 767px)
//     color: white
//     text-shadow: 0 0 4px white
//-------------
.responciveHeader
  +bg(#1c1c1ce6)

// =======================================================

.header__body
  margin: 0 auto
  position: relative
  height: 100%
  padding: 18px 0 0 0
  +fdc
  transition: all 0.3s ease-in-out
  @media (min-width: 768px) and (max-width: 1199px)
    padding: 10px 0 0 0
  @media (max-width: 767px)
    padding: 12px 0 0 0
.header__high
  +grid(0)
  +columns(3.7% 40% 30%)
  justify-content: space-between
  align-items: center
  min-height: 76px
  position: relative
  @media (min-width: 768px) and (max-width: 1199px)
    min-height: 60px
    grid-template-columns: 17.7% 40% 30%
.header__logo
  @media (min-width: 768px) and (max-width: 1199px)
    width: 152px
    height: 69px
  @media (max-width: 767px)
    width: 155px
    height: 67px

.info__phone-data
  +alic
  +juce
  flex: 0 1 100%
.header__properties
  +fdc
  +jucb
  height: 100%
  padding: 15px 0
  @media (min-width: 768px) and (max-width: 1199px)
    padding: 11px 0
  @media (max-width: 767px)
    display: none

.header__property--address
.header__property
  +alic
  // margin: 12px 0
  img
    margin: 0 8px 0 0
    width: 15px
    height: 15px
    @media (min-width: 768px) and (max-width: 1199px)
      width: 13px
      height: 13px
      margin: 0 11px 0 0
  span
    font-size: 16px
    text-transform: uppercase
    @media (min-width: 768px) and (max-width: 1199px)
      font-size: 14px

.header__property--work

.header__info
.info
  +juce
  img
    margin: 0 8px 0 0
    width: 15px
    height: 15px
  @media (max-width: 767px)
    display: none
.info__number
  font-size: 20px
  color: white
  @media (min-width: 768px) and (max-width: 1199px)
    font-size: 16px
.info__phone
  display: inline-block
  color: #929292
  border-bottom: 1px dashed #929292
  text-transform: uppercase
  padding: 5px 0 4px 0
  transition: all 0.2s ease-in-out
  @media (min-width: 768px) and (max-width: 1199px)
    font-size: 12px
  &:hover
    border-bottom: 1px dashed $active
    color: $active
    cursor: pointer

//-------------
.header__burger
  display: none
  &:hover
    cursor: pointer
  @media (max-width: 767px)
    font-size: 20px
    display: inline-block
    position: relative
    +absolute(40px,30px,50%,auto,0px,0%,-50%)
    // height: 2px
    // width: 40px
    // +bg(white)
    transition: all 0.2s ease-in-out
    span
      +absolute(40px,2px,50%,auto,0px,0%,-50%)
      +bg(white)
      transition: all 0.2s ease-in-out
    &:hover
      span,&:after,&:before
      +bg($active)

    &:after,&:before
      content: ""
      +bg(white)
      position: absolute
      height: 2px
      width: 40px
      left: 0
      z-index: 2
      transition: all 0.2s ease-in-out
    &:after
      top: 0px
    &:before
      bottom: 0px

.header__burger--active
  span
    opacity: 0
  &:after
    transform: rotate(45deg)
    top: 15px!important
    left: 5px!important
  &:before
    transform: rotate(-45deg)
    bottom: 13px!important
    left: 5px!important

//-------------
.header__logo
  width: 191px
  height: 83px
  filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.2))
  // box-shadow: 1px 1px 5px 0 rgba(255, 255, 255, 0.2)
  img
    +pro
.header__menu
  position: relative
  padding: 33px calc((100vw - 1340px)/2) 0
  background-color: rgba(28,28,28,.9)
  @media (min-width: 768px)and  (max-width: 1360px)
    margin: 0 0 0 20px
    padding: 10px 0 0 0    
  @media (min-width: 768px) and (max-width: 1199px)
    overflow-x: scroll
    display: flex
    justify-content: flex-start
    flex-wrap: nowrap
    margin: 60px 0 0 20px
    // padding: 0 0 0 20px
    padding: 0 0 0 0
  @media (max-width: 767px)
    width: 100vw
    min-height: 100vh
    position: fixed
    top: 0
    transform: translateX(-100vw)
    left: 0
    padding: 117px 20px 0 40px
    overflow: auto
    text-align: right
    +fdc
    // +jucc
    +alic
    +bg($bg)
    z-index: 1000
    transition: all 0.2s ease-in-out
    margin: 100px 0 0
.menu__mask
  content: ""
  background-color: $bg
  position: absolute
  width: 100%
  height: 25px
  bottom: -61px
  left: 0
  z-index: 2
  @media (min-width: 1200px)
    display: none
  @media (max-width: 767px) 
    display: none
   
  
.menu-active
  @media (max-width: 767px)
    transform: translateX(0)

.menu__list
  +alic
  height: 100%
  @media (min-width: 768px) and (max-width: 1199px)
    justify-content: flex-start
    flex-wrap: nowrap
    position: relative
    padding: 0 0 12px 0
  @media (max-width: 767px)
    +fdc
    +alic
.menu__item
  +alic
  height: 100%
  +border(1px , transparent)
  transition: all 0.2s ease-in-out
  margin: 0 23px 0 0
  &:hover
    // +bg(lighten($active,30%))
    // +border(1px , darken($active,10%)!important)
    box-shadow: 0px 0px 10px lighten($active,60%)!important
    color: $active
    @extend %br

  // &:focus
  //   +border(1px , darken($active,10%)!important)
  //   +bg(lighten($active,10%))
  //   box-shadow: 0px 0px 20px lighten($active,60%)!important
  //   color: white
  //   &>span
  //     color: white
  @media (max-width: 767px)
    margin: 0 0 20px 0
    &:last-child
      margin: 0 0 30px 0

.menu__link
  +alic
  height: 100%
  // padding: 5px
  font-size: 14px
  color: $white
  text-transform: uppercase
  @media (min-width: 768px) and (max-width: 1199px)
    white-space: nowrap
    font-size: 14px
    line-height: 16px

  @media (max-width: 767px)
    font-size: 14px
    font-weight: normal
    text-align: center
.menu__link--active
  +bg($active)
  color: white

.header__add--first
  +absolute(auto,auto,42px,50%,auto,-50%,0%)
.header__add--second
  +absolute(auto,auto,242px,50%,auto,-50%,0%)
.header__add--third
  +absolute(auto,auto,378px,50%,auto,-50%,0%)

.header__add--third,.header__add--second,.header__add--first
  font-size: 16px
  font-weight: bold
  text-transform: uppercase

.header__add--third
  span
    color: $active



// ==============================================
// ==============================================
// ==============================================
// ==============================================
// ==============================================
// ==============================================

.bunners
  margin: 197px 0 0 0
  // border-top: solid 2px $white
  // border-bottom: solid 2px $white
  @media (min-width: 768px) and (max-width: 1199px) 
    margin: 162px 0 0 0
  @media (max-width: 767px) 
    margin: 100px 0 0 0!important
  
  &__body
    position: relative 

  &__arrows
    position: relative
    z-index: 2
    +absolute( 120px, 50px, null, null,  115px,0,0) 
    bottom: 26px

//---------------------------------------------

.slider-bunners-item 
  // padding: 15px 20px 108px 40px	
  position: relative 
  min-height: 743px
  border-top: 2px solid #fff
  border-bottom: 2px solid #fff
  
  // --------------------------------
.bunners
  .slick-slide
    margin: 0 0 0 0
  .slick-dots li:not(.slick-active)
    display: none
    font-family: 'Roboto', sans-serif
  .slick-active
    z-index: 2
    display: inline-flex
    +absolute( auto, auto, null, null, 35px,0,0)
    right: calc((100vw - 1320px)/2 + 103px)
    bottom: 100px


  .slick-dots-current
    font-size: 40px
    font-weight: 900
    color: $active
    font-family: Roboto,sans-serif
  .slick-dots-total
      font-size: 20px
      font-weight: 900
      line-height: 1.9
      color: $white
  .slick-dots-separator
    color: white
    font-size: 28px
    font-weight: 500
    margin: 0 6px 6px 
  .slick-dots-button
    +alie
    flex-wrap: nowrap
    background: transparent


.bunners-arrows
  +alic
  +jucb
  &__arrow
    +center
    width: 23px
    height: 23px
    border-radius: 50%
    transition: all 0.1s ease-in-out 
    +bg(transparent)
    &:hover
      cursor: pointer
      transform: scale(1.05)

.bunners__arrows
  right: calc((100vw - 1320px)/2 + 57px)
  width: 190px
  bottom: 94px
.bunners__slider
  @media (max-width: 1199px)
    min-width: 0

.slider-bunners-item__button
  width: 300px
  height: 60px
  +center
  box-shadow: 6px 6px 20px 0 rgba(255, 3, 41, 0.5)
  background-color: #ff0329
  font-size: 14px
  text-transform: uppercase
  box-shadow: 6px 6px 20px 0 rgba(255, 3, 41, 0.5)

.slider-bunners-item__body
  +pro
  padding: 363px calc((100vw-1320px)/2) 10.5%
  position: relative
  @media (max-width: 1359px)
    margin: 0!important 
    padding: 363px 20px 10.5%

.slider-bunners-item__title
  font-size: 30px
  color: #c8c8c8
  margin: 0 auto 85px auto


.bunners-arrows__arrow_prev
  +background-img("/assets/img/svg/arrow.svg")
  background-size: contain

.bunners-arrows__arrow_next
  +background-img("/assets/img/svg/arrow.svg")
  background-size: contain
  transform: rotate(180deg)
  &:hover
      cursor: pointer
      transform: scale(1.05)  rotate(180deg)



.slider-bunners-item__img
  position: absolute
  top: 45px
  width: 100%
  height: auto
  left :0
  padding: 0 calc((100vw-1320px)/2) 
  @media (min-width: 1200px) and (max-width: 1359px) 
    padding: 0 20px

@media (min-width: 768px) and (max-width: 1199px) 
  .slider-bunners-item__title 
    font-size: 15px
    font-weight: 500
    margin: 0 auto 47px auto
  .slider-bunners-item__body
    padding: 195px 40px 100px
  .slider-bunners-item
    min-height: auto

  .slider-bunners-item__button
    width: 200px
    height: 40px
    background-color: #ff0329
    font-size: 12px

  .slider-bunners-item__img 
    top: 23px
    padding: 0 40px
    max-height: 300px
    max-width: 838px
    left :50%
    transform: translate(-50%)

  .bunners 
    .slick-active
      right: 70px
      bottom: 27px
    .slick-dots-current
      font-size: 30px
    .slick-dots-total
        font-size: 16px
    .slick-dots-separator
      font-size: 24px
    .bunners__arrows 
      right: 41px
      width: 132px
      bottom: 22px
    .bunners-arrows__arrow 
      width: 17px
      height: 17px

@media (max-width: 767px) 
 
  .slider-bunners-item 
    min-height: 200px
    margin: 0 auto 108px auto

  .slider-bunners-item__body
    padding: 93px 0 0px 20px

  .slider-bunners-item__title 
    font-size: 10px
  .slider-bunners-item__button
    position: absolute
    width: calc(100%-40px)
    bottom: -77px
    left: 50%
    transform: translate(-50%)
    height: 50px

  .slider-bunners-item__img 
    top: 13px
    padding: 0 20px
    max-height: 140px
    max-width: 395px
    left :50%
    transform: translate(-50%)

  .bunners 
    margin: 192px 0 0
    .slick-dots
      +jucc	
    .slick-dots li:not(.slick-active)
      display: block !important

    .slick-dots li
      display: block
      margin: 0 5px
      border: solid 1px $white
      transition: all 0.2s ease-in-out
      button
        width: 10px
        height: 10px
        
    .slick-dots li.slick-active
      +bg($active)
      position: relative
      right: 0
      bottom: 0
      width: 12px
      height: 12px
      transform: translate(0)
      border: 1px solid $active
    .slick-dots-current
      font-size: 0px
    .slick-dots-total
        font-size: 0px
    .slick-dots-separator
      font-size: 0px
      display: none



















