section#list.cart__list.list
          .list__title
            h3  Состав заказа:
          ul.list__items
            li.list__item.list-item
              a(href="#!" rel="slide-1-popup").product-card__link.popups-init-js
              i.list-item__close.icon-x
              img(src="assets/img/png/piza/i-1.png",alt="img").list-item__img
              .list-item__title
                h4 Пепперони фреш
                a(href="#!").list-item__change  
                  span изменить ингредиенты 
              .list-item__number.list-item-number
                a(href="#!").list-item-number__decr 
                .list-item-number__count 1
                a(href="#!").list-item-number__inkr 
              .list-item__sum
                span  Сумма
                span  100 руб.
            li.list__item.list-item
              i.list-item__close.icon-x
              img(src="assets/img/png/piza/i-1.png",alt="img").list-item__img
              .list-item__title
                h4 Пепперони фреш
                a(href="#!").list-item__change  
                  span изменить ингредиенты 
              .list-item__number.list-item-number
                a(href="#!").list-item-number__decr 
                .list-item-number__count 1
                a(href="#!").list-item-number__inkr 
              .list-item__sum
                span  Сумма
                span  100 руб.
            li.list__item.list-item
              i.list-item__close.icon-x
              img(src="assets/img/png/piza/i-1.png",alt="img").list-item__img
              .list-item__title
                h4 Пепперони фреш
                a(href="#!").list-item__change  
                  span изменить ингредиенты 
              .list-item__number.list-item-number
                a(href="#!").list-item-number__decr 
                .list-item-number__count 1
                a(href="#!").list-item-number__inkr 
              .list-item__sum
                span  Сумма
                span  100 руб.
            li.list__item.list-item
              i.list-item__close.icon-x
              img(src="assets/img/png/piza/i-1.png",alt="img").list-item__img
              .list-item__title
                h4 Пепперони фреш
                a(href="#!").list-item__change  
                  span изменить ингредиенты 
              .list-item__number.list-item-number
                a(href="#!").list-item-number__decr 
                .list-item-number__count 1
                a(href="#!").list-item-number__inkr 
              .list-item__sum
                span  Сумма
                span  100 руб.
          .list__payment.list-payment
            span._red Сумма 
            span  к оплате:
            .list-payment__number 400 руб.