section#forget.cart__forget.forget
  .forget__title
    h4
      span Не забудь 
      span._red напиток!
  ul.forget__catalog.forget-catalog._foget-scroll
    li.forget-catalog__item.forget-item
      img(src="assets/img/png/drink.png",alt="img").forget-item__img
      .forget-item__description
        span Эспрессо 
        span 30мл
      .forget-item__price
        span  60 
        span  руб.
      .forget-item__number.forget-item-number
        a(href="#!").forget-item-number__count 1
        a(href="#!").forget-item-number__inkr  
    li.forget-catalog__item.forget-item
      img(src="assets/img/png/drink.png",alt="img").forget-item__img
      .forget-item__description
        span Эспрессо 
        span 30мл
      .forget-item__price
        span  60 
        span  руб.
      .forget-item__number.forget-item-number
        a(href="#!").forget-item-number__count 1
        a(href="#!").forget-item-number__inkr  
    li.forget-catalog__item.forget-item
      img(src="assets/img/png/drink.png",alt="img").forget-item__img
      .forget-item__description
        span Эспрессо 
        span 30мл
      .forget-item__price
        span  60 
        span  руб.
      .forget-item__number.forget-item-number
        a(href="#!").forget-item-number__count 1
        a(href="#!").forget-item-number__inkr  
    li.forget-catalog__item.forget-item
      img(src="assets/img/png/drink.png",alt="img").forget-item__img
      .forget-item__description
        span Эспрессо 
        span 30мл
      .forget-item__price
        span  60 
        span  руб.
      .forget-item__number.forget-item-number
        a(href="#!").forget-item-number__count 1
        a(href="#!").forget-item-number__inkr  
    li.forget-catalog__item.forget-item
      img(src="assets/img/png/drink.png",alt="img").forget-item__img
      .forget-item__description
        span Эспрессо 
        span 30мл
      .forget-item__price
        span  60 
        span  руб.
      .forget-item__number.forget-item-number
        a(href="#!").forget-item-number__count 1
        a(href="#!").forget-item-number__inkr  
    li.forget-catalog__item.forget-item
      img(src="assets/img/png/drink.png",alt="img").forget-item__img
      .forget-item__description
        span Эспрессо 
        span 30мл
      .forget-item__price
        span  60 
        span  руб.
      .forget-item__number.forget-item-number
        a(href="#!").forget-item-number__count 1
        a(href="#!").forget-item-number__inkr  
    li.forget-catalog__item.forget-item
      img(src="assets/img/png/drink.png",alt="img").forget-item__img
      .forget-item__description
        span Эспрессо 
        span 30мл
      .forget-item__price
        span  60 
        span  руб.
      .forget-item__number.forget-item-number
        a(href="#!").forget-item-number__count 1
        a(href="#!").forget-item-number__inkr  
  